@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Cormorant Garamond', serif; */

* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    color: #333;
    padding-top: 70px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

section {
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 2px;
}

p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.025em;
    line-height: 1.4;
}

header {
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background: #fff;
    z-index: 999;
}

.header .container {
    justify-content: space-between;
}

.header .Gnb ul,
.header .icon {
    display: flex;
    gap: 40px;
    font-size: 17px;
    font-weight: 500;
}

.header .Gnb a {
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
    font-weight: 700;
}

.header .icon {
    gap: 15px;
}

.header .icon i {
    font-size: 21px;
}

.mainVisual {
}

.mainVisual {
    position: relative;
    padding: 0;
}

.mainVisual .item01 {
    background: url(../img/mainVisual06.jpg) no-repeat bottom 10% center / cover;
    height: calc(100vh - 70px);
}

.mainVisual .item02 {
    background: url(../img/mainVisual07.jpg) no-repeat bottom 40% center / cover;
    height: calc(100vh - 70px);
}

.mainVisual .item03 {
    background: url(../img/mainVisual04.jpg) no-repeat bottom 10% center / cover;
    height: calc(100vh - 70px);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 3px 60px 3px !important;
    background: transparent;
    border: 1px solid #ddd;
    opacity: 1;
    transition: 0.5s;
}

.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    background: #ddd;
}

.mainVisual .scr {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 998;
    animation: scr 1s infinite;
}

@keyframes scr {
    to {
        bottom: 30px;
    }
}

.mainVisual .slogan {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 998;
}

.mainVisual .slogan h2 {
    font-size: 45px;
    margin: 0 0 15px 0;
}

.mainVisual .slogan p {
    font-size: 16px;
}

.mainStory {
}

.mainStory .container {
    display: block;
}

.mainStory h2 {
    font-weight: 700;
}

.mainStory .content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.mainStory .topLeft {
    flex: 2;
}

.mainStory .topLeft .tImg {
    background: url(../img/mainStory01.jpg) no-repeat bottom 20% center / cover;
    height: 500px;
}

.mainStory .topRight {
    flex: 1;
}

.mainStory .topRight span {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.mainStory .topRight p {
    margin: 0 0 30px 0;
}

.mainStory .topRight a {
    display: inline-block;
    border: 1px solid #333;
    font-size: 13px;
    padding: 8px 20px 6px 20px;
}

.mainSofa {
}

.mainSofa {
    background: #ced4da;
}

.mainSofa .container {
    display: block;
}

.mainSofa .sofa {
    display: flex;
    gap: 30px;
}

.mainSofa .sofa .box .txt {
    text-align: center;
}

.mainSofa .sofa figure {
    position: relative;
    height: 380px;
    overflow: hidden;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin: 0 0 20px 0;
    flex: 1;
    transition: 0.5s;
}

.mainSofa .sofa figure:hover .down {
    opacity: 1;
    transition: 0.5s;
}

.mainSofa .sofa .down {
    position: absolute;
    top: -5px;
    left: 0;
    opacity: 0;
}

.mainSofa figure .txt {
    text-align: center;
}

.mainSofa h3 {
    font-size: 17px;
    font-weight: 500;
}
