@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Cormorant Garamond', serif; */

* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    color: #333;
    padding-top: 70px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}

p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.025em;
    line-height: 1.4;
}

header {
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 0;
    width: 100px;
}

.header .Gnb ul,
.header .icon {
    display: flex;
    gap: 40px;
    font-size: 17px;
    font-weight: 500;
}

.header .Gnb a {
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
    font-weight: 700;
}

.header .icon {
    gap: 15px;
    width: 100px;
}

.header .icon i {
    font-size: 21px;
}

.mainVisual {
}

.mainVisual {
    position: relative;
    padding: 0;
}

.mainVisual .item01 {
    background: url(../img/mainVisual06.jpg) no-repeat bottom 10% center / cover;
    height: calc(100vh - 70px);
}

.mainVisual .item02 {
    background: url(../img/mainVisual07.jpg) no-repeat bottom 40% center / cover;
    height: calc(100vh - 70px);
}

.mainVisual .item03 {
    background: url(../img/mainVisual04.jpg) no-repeat bottom 10% center / cover;
    height: calc(100vh - 70px);
}

/* .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 3px 60px 3px !important;
    background: transparent;
    border: 1px solid #ddd;
    opacity: 1;
    transition: 0.5s;
}

.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    background: #ddd;
} */

.mainVisual .scr {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 998;
    animation: scr 1s infinite;
}

@keyframes scr {
    to {
        bottom: 40px;
    }
}

.mainVisual .slogan {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 998;
}

.mainVisual .slogan h2 {
    font-size: 45px;
    margin: 0 0 15px 0;
}

.mainVisual .slogan p {
    font-size: 16px;
}

.mainStory {
}

.mainStory h2 {
    font-weight: 700;
}

.mainStory .content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.mainStory .topLeft {
    flex: 2;
}

.mainStory .topLeft .tImg {
    background: url(../img/mainStory01.jpg) no-repeat bottom 20% center / cover;
    height: 500px;
}

.mainStory .topRight {
    flex: 1;
}

.mainStory .topRight span {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.mainStory .topRight p {
    margin: 0 0 30px 0;
}

.mainStory .topRight a {
    display: inline-block;
    border: 1px solid #333;
    font-size: 13px;
    padding: 8px 20px 6px 20px;
    transition: 0.5s;
}

.mainStory .topRight a:hover {
    background: #333;
    color: #ddd;
}

.mainBack {
}

.mainBack {
    padding: 0;
    background: url(../img/pebble26.jpg) no-repeat bottom 30% center/cover fixed;
    height: 500px;
}

.mainBack .container {
    display: flex;
    justify-content: center;
}

.mainBack p {
    overflow: hidden;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 100px 0 0 0;
}

.mainBack span:nth-child(1) {
    display: inline-block;
    transform: translateY(40px);
    transition: 0.3s;
}

.mainBack span:nth-child(2) {
    display: inline-block;
    transform: translateY(40px);
    transition: 0.3s 0.3s;
}

.mainBack.on span {
    transform: translateY(0);
}

.mainDeco {
}

.mainDeco .detail {
    position: relative;
    background: url(../img/deco01.jpg) no-repeat bottom 30% center / cover;
    height: 500px;
    flex: 2;
}

.mainDeco .fBox {
    position: relative;
    display: flex;
}

.mainDeco .decoLeft {
    flex: 1;
}

.mainDeco .decoLeft div {
    position: absolute;
    inset: 50% auto auto 0;
    transform: translateY(-50%);
    text-align: center;
    width: 350px;
    /* border: 1px solid #ddd; */
    opacity: 0;
    padding: 10px 0;
    transition: 0.5s;
}

.mainDeco .decoLeft div.on {
    opacity: 1;
}

.mainDeco .decoLeft div h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.mainDeco .decoLeft div p {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.mainDeco .decoLeft a {
    display: inline-block;
    border: 1px solid #333;
    font-size: 13px;
    padding: 8px 20px 6px 20px;
    transition: 0.5s;
}

.mainDeco .decoLeft a:hover {
    background: #333;
    color: #ddd;
}

.mainDeco .detail div {
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: rgb(85, 141, 197);
    border-radius: 50%;
    cursor: pointer;
}

.mainDeco .detail div i {
    color: #fff;
    padding: 3px;
}

.mainDeco .in01 {
    top: 20%;
    left: 11%;
}

.mainDeco .in02 {
    top: 50%;
    left: 50%;
}

.mainDeco .in03 {
    top: 53%;
    left: 79%;
}

.mainDeco .in04 {
    top: 70%;
    left: 60%;
}

.mainSofa {
}

.mainSofa {
    background: #ced4da;
}

.mainSofa .sofa {
    display: flex;
    gap: 30px;
}

.mainSofa .sofa .box .txt {
    text-align: center;
}

.mainSofa .sofa figure {
    position: relative;
    height: 380px;
    overflow: hidden;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin: 0 0 20px 0;
    flex: 1;
    transition: 0.5s;
}

.mainSofa .sofa figure:hover .down {
    opacity: 1;
}

.mainSofa .sofa .down {
    position: absolute;
    top: -5px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.mainSofa .txt {
    text-align: center;
}

.mainSofa h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.mainSofa p {
    font-size: 17px;
    font-weight: 500;
}

.mainCS {
}

.mainCS .fBox {
    display: flex;
    gap: 50px;
    align-items: center;
}

.mainCS .fBox .left {
    flex: 1;
}

.mainCS .left p {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 15px 0;
}

.mainCS .left p:nth-child(2) {
    font-size: 15px;
    font-weight: 300;
}

.mainCS .fBox .right {
    flex: 1;
}

.mainCS .fBox .right a {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 5px;
    border-bottom: 1px solid #333;
}

.mainCS .fBox .right > ul > li {
    position: relative;
}

.mainCS .fBox .right > ul > li ul {
    display: none;
    position: static;
    top: 38px;
    left: 0;
    width: auto;
    height: 200px;
    background: #f6f6f6;
    font-size: 14px;
    line-height: 1.4;
    z-index: 998;
}

.mainCS .fBox .right > ul > li.on .inner {
    display: block;
}

.mainCS .fBox .right > ul > li ul li {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 5px 5px;
}

.mainStore {
}

.mainStore h3 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.mainStore p {
    font-size: 15px;
    margin: 0 0 30px 0;
}

.mainStore .fBox {
    display: flex;
    gap: 50px;
    align-items: center;
}

.mainStore .left {
    flex: 1;
}

.mainStore .left figure {
    background: url(../img/showroom01.jpg) no-repeat center left 40% / cover;
    height: 500px;
}

.mainStore .right {
    flex: 1;
}

.mainStore .right table {
    border-top: 2px solid #333;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.mainStore .right table tr {
    border-bottom: 1px solid #ddd;
}

.mainStore .right th {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.mainStore .right td {
    padding: 10px 0 10px 10px;
    font-size: 15px;
    line-height: 1.2;
}
/* 




ν‘Έν„°~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~






*/

.footer {
}

.footer {
    padding: 50px 0;
    background: #ced4da;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer h2 {
    text-align: left;
    font-size: 0;
}

.footer h2 img {
    height: 40px;
}

.footer dl {
    font-size: 13px;
    line-height: 1.4;
}

.footer dt {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.footer .sns i {
    font-size: 17px;
    padding: 0 3px;
}
